<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body class="bg-secondary bg-gradient bg-opacity-10">

    <!-- logo bar -->
    <div>
        <img class="logo" src="https://live.staticflickr.com/65535/52792585959_75b5df6be8_h.jpg" alt="getOUTSIDE">
    </div> 

    <!-- main wrapper -->
    <main>

        <!-- content container -->
        <div class="content">

            <!-- welcome title -->
            <div class="welcome">
                <H1>Welcome {{user.first_name}}, &nbsp; </H1>
                <h6 class="time">It's time to</h6>
                <h2 class="outside">Get OUTSIDE!</h2>    
            </div>
            <button class="profile_button bg-danger"><a href="/logout" class="text-decoration-none text-light">Log Off and Get OUTSIDE</a></button>
            <!-- end welcome title -->
            
            <!-- main wrapper -->
            <div class="wrapper">
                <div class="flex">
                    <h5>See what your friends are doing</h5>
                    <button class="bg-primary m-1 p-1 opacity-75"><a href="/getoutside/athlete" class="text-decoration-none text-light">View Profile</a></button>
                </div>
                <div class="flex">
                    <h6>(click on activities to view details)</h6>
                    <button class="bg-success m-1 p-1 opacity-75"><a href="/getoutside/friends" class="text-decoration-none text-light">Find Friends</a></button>
                </div>
                
                <!-- table -->
                <table class="activity_table">
                    <!-- loop through activities -->
                    <tr>
                    {% for a in activities %}

                        <!-- filter out logged in user -->
  
                        <!-- display data -->
                        <td>   
                            <a class="activity_link" href="/getoutside/activity/{{a.id}}"> {{a.creator.first_name}} {{a.creator.last_name}} is going {{a.activity}} at {{a.location}} on {{a.date.strftime("%B %e, %Y")}} </a>
                        </td>
                        <!-- <ul>
                            <li> creator.id: {{a.creator.id}} </li>
                            <li> activity a.id:{{a.id}} </li>
                            <li> activity_id:{{a.activity_id}} </li>
                            <li> activities.id: {{a.activities.id}} </li>
                            <li> user_id: {{a.user_id}} </li>
                            <li> {{a}} </li>
                        </ul> -->


                        <!-- display join button -->
                        <td>
                                {% if session.user_id == a.activity_id  %}

                                <a href="/getoutside/activity/{{a.id}}/unjoin">I'M OUT!</a>

                                {% else   %}

                                <a href="/getoutside/activity/{{a.id}}/join">JOIN!</a>

                                {% endif %}
                        </td>

                    </tr>

                    {% endfor %}
                </table>
                <!-- Table END -->
            </div>
        </div>
        
        <!-- <div class="image_content">
            
            <img src="https://live.staticflickr.com/65535/52792350896_cdc4034904_z.jpg" alt="">
    
        </div> -->
        <!-- end main wrapper -->

    </main>




</body>

</html>