<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.first_name.upper()}}'s profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/userdash.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body class="bg-secondary bg-gradient bg-opacity-10">

    <!-- main wrapper -->
    <main>
        <!-- logo bar -->
        <div>
            <img class="logo" src="https://live.staticflickr.com/65535/52792585959_75b5df6be8_h.jpg" alt="getOUTSIDE">
        </div>
        <!-- top wrapper -->
        <div class="top_wrapper">

            <!-- User Data -->
            <div class="profile_info">  
                <table class="table">
                    <tbody>
                        <tr>
                            <td><h1 class="user">{{user.first_name}}'s Info</h1></td>
                            <td>
                                <div class="flex2">
                                    <button class="profile_button bg-success me-1 p-1"><a href="/getoutside" class="text-decoration-none text-light">HOME</a></button>
                                    <button class="profile_button bg-warning p-1"><a href="#" class="text-decoration-none text-light">FOLLOW</a></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><h4>Name:</h4></td>
                            <td><h4>{{ user.first_name }} {{ user.last_name }}</h4></td>
                        </tr>
                        <tr>
                            <td><h4>Member Since:</h4></td>
                            <td><h4>{{ user.created_at.strftime("%B %e, %Y %I:%M %p") }}</h4></td>
                        </tr>
                    </tbody>
                </table>
            </div>  
            <!-- End User Data -->
            <!-- Right Box -->
            <div class="friend_right">
                <!-- title and button -->
                <div>
                    <h4>Activities {{ user.first_name }} is Leading</h4>    
                </div>
                <!-- activity list -->
                <div class="activity_links">
                    <!-- loop through activities -->
                    {% for a in activities %}
                        <!-- filter for only logged in user -->
                        {% if a.creator.id == session.user_id %}
                        <!-- display data -->
                            <h5>
                                <a class="link" href="/getoutside/activity/{{a.id}}"> {{ user.first_name }}'s going {{a.activity}} at {{a.location}} on {{a.date.strftime("%B %e, %Y")}} </a>
                            </h5>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        
    </main>
    <!-- End Main -->
</body>

</html>